<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Conversation</title>
	<style>
		.chatbox {
			border: 1px solid #ccc;
			border-radius: 5px;
			padding: 10px;
			max-width: 500px;
			margin: 0 auto;
		}
		.chatbox .question {
			background-color: #f2f2f2;
			margin-bottom: 10px;
			padding: 5px;
			border-radius: 5px;
		}
		.chatbox .answer {
			background-color: #d4e6f1;
			margin-bottom: 10px;
			padding: 5px;
			border-radius: 5px;
		}
	</style>
</head>
<body>
    <h1>Chatbot Conversation</h1>
	<div class="chatbox">
        <div class="question">chat_data</div>
		<!-- {% for data in chat_data %}
				<div class="question">{{ data.json.question }}</div>
				<div class="answer">{{ data.json.answer }}</div>
		{% endfor %} -->
	</div>

</body>
</html>