.sidebar {
  background-color: #2C3333;
  color: azure;
}
.table-container {
 display: flex;
 flex-direction: column;
 /* justify-content: center; */
 align-items: center;
 height: calc(100vh - 4.3rem - 6rem);
}
.users-table {
  border-collapse: collapse;
  width: 80vw;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-top: 20px;
}

.users-table th, td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.users-table th {
  background-color: #4e73df;
  color: white;
}

.users-table tr:hover {
  background-color: #f5f5f5;
}

.status-complete {
  color: green;
}

.status-pending {
  color: orange;
}

.status-inactive {
  color: gray;
}

.verify-yes {
  color: green;
}

.verify-no {
  color: red;
}

.user-table-btn {
  width: 100px;
}