{% extends "base.html" %}
{% load static %}
{% block additional_styles %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}


{% block content %}
<div class="table-container">
  <table class="users-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mobile</th>
      <th>Email</th>
      <th>Status</th>
      <th>Verify</th>
    </tr>
  </thead>
  <tbody>
    {% for user in user_data %}
    <tr>
      <td>{{ user.question_data.0.answer }}</td>
      <td>{{ user.mobile_number }}</td>
      <td>{{ user.question_data.1.answer }}</td>
      <td>{{ user.user_status }}</td>
      <td><button class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">Verified</button> </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}